# Ignore backend node modules and DB file
backend/node_modules/
backend/medications.db
backend/.env

# Ignore frontend node modules
frontend/node_modules/
frontend/.env

# Logs and editor junk
*.log
.vscode/
.DS_Store
